apiVersion: v1
kind: Service
metadata:
  name: ${APP_NAME}-service
  namespace: ${NAMESPACE}
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  ports:
    - port: ${CONTAINER_PORT}
      targetPort: ${PORT}
      name: ${APP_NAME}-port-binding
  selector:
    app: ${APP_NAME}
